* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

.food {
    padding: 30px 0;
    font-weight: bold;
}

.food a {
    color: #c8a97e;
}

.food a:hover {
    padding: 10px;
    text-decoration: none;
    background: #c8a97e;
    color: white;
}

.row img {
    height: 195px;
    width: 100%;
}

.steak,
.water,
.soup,
.salt,
.meat,
.cook {
    padding: 0;
}

h1,
p {
    padding-left: 15px;
}

.pay {
    font-size: 18px;
    color: #c8a97e;
}