* {
	margin: 0;
	padding: 0;
}

.navbar-brand {
	font-size: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Great Vibes', cursive;
}

.navbar-nav {
	margin-top: 20px;
}

h3 {
	font-size: 110px;
	font-family: 'Great Vibes', cursive;
	text-transform: none;
}

.carousel-caption {
	font-family:'Poppins',
	sans-serif;
	padding-bottom: 300px;
	font-size: 25px;
}

.describtion {
	margin-top: 50px;
	text-align: center;
}

.caption {
	font-family:'Poppins',
	sans-serif;
	font-size: 15px;
}

.btn-warning {
	font-size: 20px;
	border-radius: 8px;
}

.btn-primary {
	font-size: 15px;
}

.footer .footer_bottom {
	padding: 10px 0px;
	text-align: center;
	color: gray;
	font-size: 12px;
}

.thumbnail {
	background: black;
	margin: 30px;
}

.footer_top {
	font-size: 15px;
}
