* {
	margin: 0;
	padding: 0;
}

$background-col: black;

$text-font: 'Poppins',
sans-serif;

.navbar-brand {
	font-size: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Great Vibes', cursive;
}

.navbar-nav {
	margin-top: 20px;
}

h3 {
	font-size: 110px;
	font-family: 'Great Vibes', cursive;
	text-transform: none;
}

.carousel-caption {
	font-family: $text-font;
	padding-bottom: 300px;
	font-size: 25px;
}

.describtion {
	margin-top: 50px;
	text-align: center;
}

.caption {
	font-family: $text-font;
	font-size: 15px;
}

.btn-warning {
	font-size: 20px;
	border-radius: 8px;
}

.btn-primary {
	font-size: 20px;
}

.footer .footer_bottom {
	padding: 10px 0px;
	text-align: center;
	color: gray;
	font-size: 14px;
}

.thumbnail {
	background: black;
}