body {
	font-size: 18px;
}

.navbar-brand {
	font-size: 50px;
}

h3 {
	font-size: 50px;
}

.carousel-caption {
	padding-bottom: 400px;
	font-size: 40px;
}

.describtion {
	background-color: black;
	text-align: center;
}

.thumbnail {
	background-color: black;
}

.footer .footer_top{
	background-color: black;
}

.footer .footer_bottom {
	padding: 10px 0px;
	text-align: center;
	color: #616f7d;
	font-size: 14px;
}