.dbox {
	font-family: "Poppins", Arial, sans-serif;
	background: #fff;
	font-size: 17px;
	line-height: 2;
	font-weight: 400;
	color: #666666;
}
.forpad{padding-top: 112px;}
.telek,.saitik,.anothersaitik {color: #c8a97e;}

.btn.btn-primary {
	background: #c8a97e;
	border: 1px solid #c8a97e;
	color: #fff;
}

.contus{color: green;}
.forpanda{
	color: #c8a97e;
	background: black;
}


body {
	font-family: "Poppins", Arial, sans-serif;
	background: black;
	font-size: 17px;
	line-height: 2;
	font-weight: 400;
	color: #666666;}

.back{background:black;}

