
.dbox {
	font-family: "Poppins", Arial, sans-serif;
	background: #fff;

	line-height: 2;
	font-weight: 400;
	color: #666666;
}

.forpad {
	padding-top: 240px;
}
.navbar-brand {
	font-size: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Great Vibes', cursive;
}

.telek,
.saitik,
.anothersaitik {
	color: #c8a97e;
}

.btn.btn-primary {
	background: #c8a97e;
	border: 1px solid #c8a97e;
	color: #fff;
}

.contus {
	color: White;
}

.forpanda {
	color: #c8a97e;
	background: black;
}


body {
	font-family: "Poppins", Arial, sans-serif;
	background: black;

	line-height: 2;
	font-weight: 400;
	color: #666666;
}

.back {
	background: black;
}

.buttonpri {
	color: #c8a97e;
}

@media (max-width:767px) {
	.forpad {
		width: 290px;
	}
}
@media (max-width:767px) {
	.mapforcon {
		width: 260px;
	}
}
@media (max-width:767px) {
	.medforcon {
		width: 290px;
	}
}
